#map-holder {
  width: 100%;
  height: calc(80vh - 40px);
  float: left;
}

svg rect {
  fill: #2A2C39;   /* map background colour */
}

.country{
  fill: #d0d0d0;   /* country colour */
  stroke: #2A2C39; /* country border colour */
  stroke-width: 1; /* country border width */
}

.country-on{
  fill: #4B5358;   /* highlight colour for selected country */
}

.country-selected{
  fill: #ae4d5a;   /* highlight colour for selected country */
}

.countryLabel{
  display: none;   /* hide all country labels by default */
}

.countryName{
  fill: #242124;   /* country label text colour */
}

.countryLabelBg{
  fill: #d0d0d0;   /* country label background colour */
}

#country-info {
  width: 0vw;
  height: calc(80vh - 40px);
  float: right;
  transition: width 1.5s;
  background-color: black;
  color: white;
  display: flex;
  position: relative;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align items to the top */
}

.country-stats {
  width: 100%;
  position: absolute;
  left: 0;
  text-align: center;
}

/* #country-flag {
  background-color: #f625d3;
}

#country-medals {
  background-color: green;
} */

