#container {
  display: flex;
}

#treemap {
  flex-grow: 1; /* Allow treemap to take up the remaining space */
  border-right: 1px solid #ccc; /* Optional border for visual separation */
}

#control-panel {
  width: 250px; /* Fixed width for the control panel */
  padding: 10px;
}
